<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  {% block htmlhead %}
    <title>{% block title %}Home{% endblock %}</title>
  {% endblock %}
  </head>
  <body>
    <div class=container>
      <div class=navigation>
        <ul>
          <li><a href="/">blog</a>
          <li><a href="/archive/">archive</a>
          <li><a href="/tags/">tags</a>
          <li><a href="/about/">about</a>
        </ul>
      </div>
      <div class=body>
        {% block body %}{% endblock %}
      </div>
    </div>
    <div class=footer>
        <p>Reading, Thinking and Writing</p>
        <p>&copy; Copyright {{ format_date(format='YYYY') }}.
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173632785-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173632785-1');
    </script>
  </body>
</html>