/* global */
body {
    font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 17px;
    color: #495057;
    background-color: #edf2f7;
}

h1 { 
    margin: 0 0 25px 0; 
}

h2 { 
    margin: 25px 0 10px 0;
}

h3 { 
    margin: 35px 0 10px 0; 
}

h1 { 
    line-height: 56px; 
}

h2 { 
    line-height: 44px; 
}

h3 {
    line-height: 38px; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 400; 
}

h1 + p.date {
    margin-top: -25px;
    font-style: italic;
    opacity: 0.6;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* container */

.container, .footer{
    margin: 0 auto;
    max-width: 50rem;
}

/* header */

.header {
    float: left;
}

/* navigation */

.navigation ul {
    list-style: none !important;
    padding: 0;
    text-align: right;
}

.navigation li {
    display: inline-block;
}

.navigation a{
    margin: 0.5rem;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: inherit;
}

/* body */
.body {
    background: white;
    border: 2px solid #e9ecef;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,0.03);
    padding: 2rem 3rem;
}

.body a{
    color: #495057;
}

.body p.tags{
    text-align: right;
    margin-top: 35px;
}

/* entry-overview */

.entry-overview {
    padding-bottom: 5px;
    margin: 25px 122px 0px 50px;
}

.entry-overview div.date {
    color: #7b8894;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.entry-overview h1 { 
    margin: 0; 
    font-size: 1.5em;
}

.entry-overview .detail{
    width: 30rem;
}

.summary p, .entry-overview h1{ 
    line-height: 25px; 
}

/* tagcloud */

ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
    line-height: 1.45;
    text-align: justify;
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}

/* footer */

div.footer {
    margin-top: 55px;
    font-size: 16px;
    text-align: right;
    color: #7b8894;
}

div.footer p {
    margin: 0;
}